@import-normalize; /* bring in normalize.css styles */

/* Reset styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

nav,
footer,
header,
aside {
  display: block;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  display: block;
  outline: none;
}

body.modal-open {
  overflow: hidden;
}

/* Root styles */

:root {
  --primery-white: #ffffff;
  --primery-black: #2f2f2f;
  --primery-blue: #407bff;
  --secondary-color-2: #ecf2ff;
  --secondary-color-3: #ef5050;
  --secondary-color-4: #9ebbff;
  --secondary-color-5: #ff9d43;
  --secondaru-color: #d7e3ff;
  --primery-font: 'Roboto', sans-serif;
}
